CompileFlags:
  Add:
    - -I/home/zegois/.arduino15/packages/esp32/hardware/esp32/3.0.5/cores/esp32
    - -I/home/zegois/.arduino15/packages/esp32/tools/esp32-arduino-libs/idf-release_v5.1-33fbade6/esp32c6/include/esp_ringbuf/include/freertos
